{%- set external_urls = {
  'github': 'https://github.com/ain-soph/trojanzoo_sphinx_theme/',
  'github_issues': 'https://github.com/ain-soph/trojanzoo_sphinx_theme/issues/',
  'home': '/',
  'items': {},
}
-%}